@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.logo_title {
    font-size: 37px;
    text-align: left;
    color: white;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}

.header_section {
    max-width: 100vw;
    width: 100%;
    padding: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: gray;
}