@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.sectionHome {
    width: 100vw;
    padding: 28px 0 0 0;
    margin: 0 auto;
}

.titleSection {
    font-size: 33px;
    color: white;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    margin-bottom: 27px;
}